<div class="game" ng-if="game">
    <div class="row">
        <h2>{{result()}} {{opponent}} {{gameScore(playerIdx)}} to {{gameScore(opponentIdx)}}</h2>
    </div>
    <div class="rounds row">
        <div class="round col-md-4" ng-repeat="round in game.rounds">
            <h3>Round {{$index + 1}} <small>Total: {{roundScore(playerIdx, round)}}</small></h3>
            <div class="target clearfix" ng-repeat="target in targets">
                <div class="clearfix">
                    <h4 class="pull-left">Target: {{target.value}} <small>Score: {{round[$index][playerIdx] * target.value}}</small></h4>
                </div>
                <div class="kits btn-group btn-group-sm clear">
                    <label
                        ng-repeat="kit in [] | range:target.maxHits + 1"
                        for="{{$parent.$parent.$index}}-{{$parent.target.value}}-kit-{{kit}}"
                        class="btn btn-default"
                        ng-class="{active: round[$parent.$index][playerIdx]==kit}">

                            {{kit}}
                            <input type="radio"
                                ng-model="round[$parent.$index][playerIdx]"
                                id="{{$parent.$parent.$index}}-{{$parent.target.value}}-kit-{{kit}}"
                                name="{{$parent.$parent.$index}}-{{$parent.target.value}}-kit"
                                class="sr-only"
                                value="{{kit}}" />
                    </label>
                </div>
                <div>
                    <p class="pull-left">Opponent score: {{round[$index][opponentIdx] * target.value}} ({{round[$index][opponentIdx]}} hits)</p>
            </div>
        </div>
    </div>
</div>